<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_created_margin",:error_class_name=>"user_created_margin"}%>
<h3>Statistics</h3>
<table>
  <tr>
    <td>Active Users:</td>
    <td><%=User.count_active_users%></td>
  </tr>
  <tr>
    <td>Inactive Users:</td>
    <td><%=User.count_inactive_users%></td>
  </tr>
  <tr>
    <td>Total Products:</td>
    <td><%=@products_count%></td>
  </tr>

</table>
