<%if !@products_array.blank?%>
  <%product_ids_array=[]%>
  <%@products_array.each do |product|%>
     <%product_ids_array.push(product.product_id)%>
  <%end%>
<%end%>
<table border="0" cellspacing="10" cellpadding="0" >
  <tr>
    <td colspan="2" >
      <b>Errors and Warnings</b>
    </td>
  </tr>
  <%errors=warnings=""%>
    <%if !product_ids_array.blank? && !product_ids_array.uniq!.blank?%>
      <%errors+="Duplicate ids in same upload not allowed.<br/>"%>
    <%end%>

 <%product.errors.each do |field,error|%>
    <%if field=="product_id" or field=="name" or field=="property.wholesale_cost"%>
      <%errors+="#{error}<br/>"%>
    <%else%>
      <%warnings+="#{error}<br/>"%>
    <%end%>
  <%end%>
<%if !errors.blank?%>
  <tr>
    <td>
      <b>Errors:</b>
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <b>&nbsp;</b>
    </td>
    <td>
      <label style="color:red;" ><b><%=errors%></b></label>
    </td>
  </tr>
<%end%>
<%if !warnings.blank?%>
  <tr>
    <td>
      <b>Warnings:</b>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%=warnings%></td>
  </tr>
<%end%>
</table>