<table border="0" cellspacing="10" cellpadding="0" >
  <tr>
    <td colspan="2" >
      <b>Errors and Warnings</b>
    </td>
  </tr>
  <%errors=[]%>
  <%warnings=[]%>
  <%product_ids_array=[]%>
<%@products_array.each do |product|%>
  <%product.valid?%>
 <%product.errors.each do |field,error|%>
    <%if field=="product_id" or field=="name" or field=="property.wholesale_cost"%>
      <%errors.push(error)%>
    <%else%>
      <%warnings.push(error)%>
    <%end%>
  <%end%>
    <%product_ids_array.push(product.product_id)%>
<%end%>
<%if !errors.blank?%>
  <%hash=errors.dup_hash%>
  <%errs=""%>
  <%hash.each {|key, value| errs+="(#{value}) #{key}<br/>" }%>
    <%if !product_ids_array.blank? && !product_ids_array.uniq!.blank?%>
      <%errs+="Duplicate ids in same upload not allowed.<br/>"%>
    <%end%>

  <tr>
    <td>
      <b>Errors:</b>
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <b>&nbsp;</b>
    </td>
    <td>
      <label style="color:red;" ><b><%=errs%></b></label>
    </td>
  </tr>
<%end%>

<%if !warnings.blank?%>
  <%hash=warnings.dup_hash%>
  <%warn=""%>
  <%hash.each {|key, value| warn+="(#{value}) #{key}<br/>" }%>

  <tr>
    <td>
      <b>Warnings:</b>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%=warn%></td>
  </tr>
<%end%>
</table>