<table border="0" cellspacing="10" cellpadding="0" >
  <tr>
    <td colspan="2" >
      <b>Errors and Warnings</b>
    </td>
  </tr>
  <%errors="<table>"%>
  <%warnings="<table>"%>
  <%product_ids_array=[]%>
<%@products_array.each_with_index do |product,index|%>
  <%product.valid?%>
  <%is_error_found=is_warning_found=true%>
 <%product.errors.each do |field,error|%>
    <%if field=="product_id" or field=="name" or field=="property.wholesale_cost"%>
      <%if is_error_found%>
      <%errors+="<tr><td>#{link_to index+1,:action=>"upload_products_file",:page=>index+1}&nbsp;#{link_to "[show]",:action=>"upload_products_file",:page=>index+1}</td>"%>
      <%else%>
        <%errors+="<tr><td>&nbsp;</td>"%>
      <%end%>
      <%errors+="<td>#{error}</td></tr>"%>
      <%is_error_found=false%>
    <%else%>
      <%if is_warning_found %>
      <%warnings+="<tr><td>#{link_to index+1,:action=>"upload_products_file",:page=>index+1}&nbsp;#{link_to "[show]",:action=>"upload_products_file",:page=>index+1}</td>"%>
      <%else%>
      <%warnings+="<tr><td>&nbsp;</td>"%>
      <%end%>
      <%warnings+="<td>#{error}</td></tr>"%>
      <%is_warning_found=false%>
    <%end%>
  <%end%>
    <%product_ids_array.push(product.product_id)%>
<%end%>
<%errors+="</table>"%>
<%warnings+="</table>"%>
  <%product_ids_array=product_ids_array.compact%>
  <%(!product_ids_array.blank? && !product_ids_array.uniq!.blank?)?(is_uniq=false):(is_uniq=true)%>
<%if ((!errors.gsub("<table></table>","").blank?) || (!is_uniq))%>
    <%if !is_uniq%>
        <%errors=errors.gsub("</table>","")%>
      <%errors+="<tr rowspan='4' ><td colspan='2'= >&nbsp;</td></tr><tr><td>&nbsp;</td><td>Duplicate ids in same upload not allowed.</td></tr></table>"%>
    <%end%>
  <tr>
    <td>
      <b>Errors:</b>
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="2" >
      <label style="color:red;" ><b><%=errors%></b></label>
    </td>
  </tr>
<%end%>

<%if !warnings.blank? && !warnings.gsub("<table></table>","").blank?%>
  <tr>
    <td>
      <b>Warnings:</b>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" ><%=warnings%></td>
  </tr>
<%end%>
</table>