<table>
  <tr>
    <td colspan="3" ><b><%=title%></b></td>
  </tr>
  <tr>
    <td colspan="3" >&nbsp;</td>
  </tr>
  <tr>
    <td>
       Enter Text:
    </td>
    <td>
      <%=text_field_tag :search_text,params[:search_text]%>
    </td>
    <td>
      Select Category:
    </td>
    <td colspan="2" >
      <%=select("search", "search_field", options_for_select([["Manufacturer", "manufacturer"],["Code", "code"], ["ID", "id"], ["Name", "name"], ["Description", "Item_description_with_html"]],:selected=>(params[:search][:search_field] rescue nil)))%>
    </td>
  </tr>
</table>