<%= form_tag({:action => 'search_items'}, :multipart => true)%>
<%=render :partial=>"/shared/search_results",:locals=>{:title=>"Edit Items"}%>
    <%= submit_tag 'Submit' %>
</form>
<%if !@results.blank?%>
<%=render :partial=>"/shared/products",:locals=>{:products=>@results,:is_edit=>true}%>
<%elsif request.post?%>
<b>No Record Found</b>
<%end%>

<div id="success_msg" ></div>

<div id="individual_item" >

</div>
