<h3>Upload File</h3>

<table border="1" cellspacing="10" cellpadding="0" >
  <tr>
    <td>New Upload</td>
    <td>Add</td>
    <td>Revert</td>
  </tr>
  <tr >
    <td colspan="3" >
          <label for="file">File to Upload</label> <%= file_field_tag "file" %>
    </td>
  </tr>
</table>